{% extends "base.html" %}

{% block content %}


<br>
<br>
<h3>アプリケーション概要: DICOM画像から肺炎を診断します。</h4>
<br>
<form enctype="multipart/form-data" action="{{ url_for('post') }}" method="post" style="text-align: center;">
    <h4>Step 1: DICOM画像を選択してください。</h4>
    <input class="inline-block button" type="file" name="input_img" accept=".dcm" required>
  
    <h4>Step2: 画像のタイトルを入力してください。</h4>
    <p><input type="text" name="input_title" style="width: 400px;height: 30px;" required></p>
  
    <h4>Step3: 画像について、特記事項やメモを入力してください。</h4>
    <p><textarea type="text" name="input_memo" style="width: 400px;height: 100px;" required></textarea></p>
  
    <h4>Step4: データを送信してください。</h4>
    <button class="inline-block button" type="submit" formmethod="post">登録&診断！ (10秒ほど時間がかかります)</button>
</form>

<br><br><br>


{% endblock %}
